recognizer/clovaai/model/vitstr_small_patch16_jit.pt
recognizer/trocr/model
recognizer/trocr/gt
recognizer/trocr/val
recognizer/trocr/train
recognizer/trocr/__pycache__
recognizer/clovaai/__pycache__
recognizer/__pycache__
__pycache__
.idea
detector/__pycache__
detector/OpenVINO/__pycache__
detector/OpenVINO/models
service/__pycache__
utils/__pycache__
detector/dbnet
detector/east/weights
detector/east/.idea

